/*обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}


nav,
footer,
header,
aside {
  display: block;
}


html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


input,
button,
textarea {
  font-family: inherit;
}


input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*шрифты*/
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: local('☺'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*body*/

body{
  color: #666666;
font-family: Lato;
font-size: 14px;
}

/*container*/

.container{
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/*header*/

.header__fond{

  background: url(../images/aboutUS/Rectangle_13_copy.png)100% 100% no-repeat ;
  background-size:cover;
  height:350px;

}

.header__item{
  display: flex;

}

.header__item-icon{

  padding-top: 35px;
  padding-left: 56px;
}

.header__star{
  width: 100%;
}

.header__menu{
  display:flex; 
  padding-top: 59px;
  position:absolute;
  right: 37px;
  
}

.header__link{
  margin-left: 28px;
}

.header__menu-list{
  color: #99aade;
  font-family: Poppins,sans-serif;
  font-size: 16px;
  font-weight: 700;
  
}

.header__menu-list:hover{
  color: #7492ec;
}

.header__mobile-link:hover{
   color: #7492ec;
}

.header__mobile-foto{
  display: none;
}

.header__list{
  display: none;
  margin-top: 29px;
  position:absolute;
  right: 37px;
  background-color: #a8b7e4;
  padding: 0 24px;
}

.header__sub-mobile-list{
 
  margin-bottom: 15px;
  border-bottom: 1px solid white ;

}

.header__mibile-img{
  margin-top: 29px;
  position:absolute;
  right: 37px;
} 

.header__mobile-href:hover .header__list{
  display:block;
}

.header__mobile-link{
   font-size: 34px;
   color: white;
   
  }

  .header__content-slogan{
  margin-top:12%;
  position: absolute;
  left:18%;
}

.header__content-title{
color: #7492ec;
font-family: Poppins,sans-serif;
font-size: 29px;
font-weight: 300;
text-align: left;
}

.header__content-subtitle{
  color: #99aade;
  text-align: left;
  margin-top: 20px;
  max-width: 408px;
  line-height: 24px;
}

/*class*/

.class{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10%;
}

.class__about{
  display: flex;
  justify-content: space-between;
  margin-top: 25%;
  
}

.class__item{
  display: flex;
  margin-bottom: 25px;
}

.class__foto{
  width: 45%;
}

.class__info{
  width: 45%;
}

.class__item-icon{
  padding-right: 15px;
}

.class__item-text{
  color: #999999;
  font-size: 13px;
}

.class__text{
  line-height: 24px;
}

.class__image{
  width: 100%;
}

/*benefits*/

.section__benefits{
  background-color: #f1f3f8;
}

.benefits__all-info{
  display: flex;
  justify-content: space-between;
  padding-bottom: 8%;
}

.benefits__foto{
  text-align: center;
}

.benefits__title{
  margin: 58px auto;
  color: #7492ec;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 300;
  text-align: center;

}

.benefits__item{
  max-width: 370px;
  width:100%;
  height:45%;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 40px 36px;
  margin-bottom: 30px;
}

.benefits__item-title{
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}

.benefits__item:hover{
  background-color: #7492ec;
  color: #ffffff;
}

.benefits__item-text{
  line-height: 24px;
  text-align: left;
}

/*classes*/

.section-classes{
  display: flex;
  background: url(../images/classes/BG.png);
  background-size: cover;


}

.classes{
  padding-bottom: 50px;
}

.classes__image{
  display:flex;
  margin: 0 auto;
  width: 10%;
}

.classes__title{
  color: #7492ec;
  font-family: Poppins;
  font-size: 48px;
  text-align: center;
  margin-bottom: 70px;
}

.classes__info{
  display:flex;
  width: 100%;
  justify-content:space-between;

}

.classes__item{
  max-width:23%;
  
}

.classes__foto-img{
  width: 100%;
}



.classes_name{
  margin-top: 29px;
  color: #7492ec;
  font-family: Poppins,sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 54px;
}

.classes__time-info,
.classes__adress-info,
.classes__advanced-info{

  color: #999999;
  font-size: 13px;
  text-align: left;

}

.classes__paragraph-time,
.classes__paragraph-adress,
.classes__paragraph-advanced{
  display: flex;
  margin-bottom: 17px;
}

.classes__time-icon,
.classes__adress-icon,
.classes__advenced-icon{
  margin-right: 12px;

}

.classes__text{
  line-height: 24px;
  text-align: left;
  margin-bottom: 60px;
}

/*footer*/

.footer__part-one{
  background-color: #181818;
}

.footer__part{
  display: flex;
  justify-content: space-between;
}

.footer__icon{
  padding-top: 22px;
  padding-bottom: 18px;
  padding-right: 205px;
}

.footer__image{
  width: 100%;
}

.footer__info{
  border-left:1px solid #333333;
  height: 110px;
  padding-top: 34px;
  padding-bottom: 26px;
  padding-left: 48px;
}

.footer__title{
  color: #ffffff;
  font-family: "Poppins",sans-serif;
  font-size: 16px;
  margin-bottom:15px;
}

.footer__text{
  color: #bbbbbb;
  font-size: 13px;
  text-align: left;
}

.footer__form{
  
  display: flex;
  padding-top: 30px;
  padding-bottom: 25px;
  margin-left: auto;
}

.footer__input-email{
  background-color: #333333;
  height: 50px;
  width: 355px;
  border-radius: 30px;
  padding-left: 19px;
  color: #bbbbbb;
  font-family: Lato;
  font-size: 13px;
}

.footer__submit{
  margin-left: -90px;


}

.footer__input-submit{
  background-color: #7492ec;
  border-radius: 30px;
  width: 140px;
  height: 50px;
  color: #ffffff;
  font-family: "Poppins",sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  

}

.footer__part-two{
  background-color: #222222;
}

.footer__contact{
  color: #ffffff;
  font-family: "Poppins",sans-serif;
  margin-bottom: 24px;
  margin-top: 55px;
}

.footer__contact-info{
  color: #bbbbbb;
  font-size: 13px;
  margin-bottom: 22px;
 }

.footer__social-icon{
  display: flex;
  max-width: 181px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer__useful{
  color: #ffffff;
  font-family: "Poppins",sans-serif;
  margin-bottom: 25px;
  margin-top: 55px;
}

.footer__list{
  color: #bbbbbb;
  font-size: 13px;
  line-height: 24px;
}

.footer__contact-info{
  line-height: 24px;
}

.footer__open{
  color: #ffffff;
  font-family: "Poppins",sans-serif;
  margin-bottom:21px;
  margin-top: 55px;
}

.footer__info-work{
  display: flex;
  width: 150%;
  justify-content: space-between;
}

.footer__sign{
  margin-top: 10px;
}

.footer__week{
  color: #bbbbbb;
  font-family: "Myriad Pro";
  font-size: 13px;
  line-height: 30px;

}

.footer__time{
  color: #bbbbbb;
  font-family: "Myriad Pro";
  font-size: 13px;
  line-height: 30px;
}

.footer__location{
  color: #ffffff;
  font-family: "Poppins",sans-serif;
  margin-bottom: 27px;
  margin-top: 55px;

}

.footer__maps-adress{
 max-width: 270px;
 width: 100%;
 height: 170px;
}

.footer__part-three{
  background-color: #181818;
}

.footer__name{
  color: #ffffff;
  font-family: Poppins,sans-serif;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 27px;
  margin-bottom: 30px;
}

.footer__menu{
  display: flex;
  margin-top: 32px;
  margin-bottom: 30px;
  max-width: 399px;
  width: 100%;
  justify-content: space-around;
}

/*медиа запросы*/

@media screen and (max-width: 1230px){
  /*benefits*/

  .benefits__item{    
    width: 90%;
}


@media screen and (max-width: 990px){

  /*header*/

  .header__content-title {
  font-size: 25px;
    
}
.header__content-subtitle {
    margin-top: 10px;
    line-height: 20px;
}

.header__content-slogan {
    margin-top: 18%;
  }
  
  /*classes*/

  .classes__title {
    margin-bottom: 40px;
}

.classes__text {
    margin-bottom: 30px;
}

.classes__btn {
    width: 150px;
    height: 40px;
    
}

.classes__link {
    font-size: 15px;
    padding: 7px 27px;
}

/*class*/

.class {
    padding-bottom: 5%;
}

.class__info {
    width: 50%;
}

.class__item {
    margin-bottom: 10px;
}

.class__about {
    margin-top: 10%;
}

/*benefits*/

.benefits__title {
    margin: 38px auto;
  }

.benefits__all-info {
    padding-bottom: 4%;
}



  /*footer*/

.footer__input-email{
  height: 40px;
  width: 300px;
  }

  .footer__input-submit {
  width: 120px;
  height: 40px;
}

.footer__icon {
  padding-right: 120px;
}

.footer__info {
  padding-left: 38px;
}

.footer__title {
  margin-bottom: 5px;
}

.footer__maps-adress {
    max-width: 190px;
    }

.footer__info-work {
  width: 120%;
}
}


@media screen and (max-width: 770px){

  /*header*/
  .header__content-slogan {
    margin-top: 23%;
  }

.header__content-title {
    font-size: 20px;
}

.header__content-subtitle {
    margin-top: 7px;
    }

  /*classes*/
.classes__title {
    margin-bottom: 20px;
}

.classes_name {
    margin-top: 15px;
    font-size: 14px;
}

.classes__text {
    margin-bottom: 20px;
}

.classes__btn {
    width: 120px;
    height: 31px;
}

.classes__link {
    font-size: 15px;
    padding: 6px 17px;
}

.classes {
    padding-bottom: 30px;
}

/*class*/

.class__item-text {
    font-size:9px;
}

.class__item-icon {
    padding-right: 5px;
}

/*benefits*/

.benefits__title {
    margin: 28px auto;
    font-size: 38px;
}

.benefits__item-title {
    font-size: 16px;
    margin-bottom: 10px;
}

.benefits__item {
  padding: 20px 16px;
   
}
 
  
  /*footer*/

.footer__input-email {
  height: 30px;
  width: 200px;
  font-size: 8px;
}

.footer__input-submit {
    width: 80px;
    height: 30px;
}

.footer__icon {
  padding-right: 70px;
}

.footer__maps-adress {
    max-width: 150px;
}

.footer__maps-adress {
    height: 160px;
}

.footer__info-work {
    width: 100%;
    font-size: 8px;
    line-height: 20px;
}

.footer__list,.footer__contact-info,
.footer__week,.footer__time {
  font-size: 8px;
  line-height: 20px;
    
}

.footer__open,.footer__useful,
.footer__location,.footer__contact {
    margin-bottom: 15px;
    margin-top: 35px;
}

.footer__sign-img{
  max-height: 70%;
}

.footer__sign {
    margin-top: 5px;
}

.footer__image-face,
.footer__image-twit,
.footer__image-google,
.footer__image-pinterest{
 width:80%;
}
}


@media screen and (max-width: 575px){

   /*header*/

  .header__star {
    width: 40%;
  }

  .header__item-icon {
    padding-top: 7px;
    padding-left: 9px;
}

.header__menu{
    display: none;
  }

  .header__mobile-foto{
  display:block;
}

.header__list{
  margin-top: 29px;
  position:absolute;
  right: 37px;
  background-color: #a8b7e4;
  padding: 20px 44px;
}

.header__mobile-link{
  font-size: 40px;
}

.header__menu-mobile:hover + .header__content-slogan {
  display: none;
}

.header__mibile-img{
  width: 10%;
}

.header__content-title {
  font-size: 20px;
  }

.header__content-slogan {
    margin-top:30%;
    left: 10%;
  }

  /*classes*/

.classes__item {
    max-width: 23%;
}

.classes__paragraph{
  display: none;
}

/*class*/

.class__about{
  display: none;
}

.class__text{
  padding-top: 3%;
}

.class__image{
  padding-top: 5%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
  
.class__foto {
   width: 45%;
   max-height: 200px;
   position: relative;
}

/*benefits*/

.benefits__item-text {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}
  
.benefits__item{
  margin-bottom: 5%;
  width: 100%;
  height: 50%;
  }
  
.benefits__all-info{
  display: flex;
  flex-wrap: wrap;
}
  
.benefits__info{
  height: 100%;
  }
  
.benefits__title{
  font-size: 34px;
}
  
.benefits__image{
  width: 20%;
}
  
  /*footer*/

.footer__menu {
  width: 50%;
  }

.footer__icon {
    padding-right: 20px;
}

.footer__info {
    padding-left: 23px;
}

.footer__text {
  font-size: 10px;
    
}

.footer__input-email {
    width: 150px;
    
}

.footer__submit {
    margin-left: -50px;
}

.footer__input-submit {
    width: 60px;
    font-size: 6px;
  }
  
.footer__maps{  
  max-height: 100px;
  }
  

  .footer__maps-adress {
    height: 100px;
    
}

.footer__open,.footer__useful,
.footer__location,.footer__contact{
    margin-bottom: 10px;
    margin-top: 25px;
    font-size: 10px;
}

.footer__list,.footer__contact-info,
.footer__week,.footer__time{
  font-size:6px;
  line-height: 16px;
    
}

.footer__form{
  margin-top: 10px;
}

.footer__image-face,
.footer__image-twit,
.footer__image-google,
.footer__image-pinterest{
  width:60%;
}

.footer__social-icon{
  margin-bottom: 20px;
  max-width: 90px;
}

.footer__sign-img{
  max-height: 53%;
}

.footer__sign {
    margin-top: 5px;
}

.footer__item{
  margin-bottom: 0px;
  width: 23%;
}
  
.footer__name {
  font-size: 10px;
  width: 45%;
}
}

